body {
  background: url('http://lorempixel.com/800/200/business/5/') ;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 15px #fff;
  
}

output{
  display:block;
  
}
